

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe242d;
    font-size: 2rem;
}

.nav-link {
    color: #222222;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    background-color: #ebebeb;
    padding: 20px;
}

.f-info-socials {
    display: flex;
    gap: 10px;
}

.f-info-socials i{
    font-size: 1.5rem;
}

.f-info-links {
    display: flex;
    gap: 10px;
}

.f-info-links a{
    color: black;
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}



/* Card */

.listing-card {
    border: none;
    margin-bottom: 2rem;
    text-decoration: none;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}


.card-img-overlay {
    opacity: 0;
    color: #fe242d;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


.btns {
    display: flex;
    gap: 10px;
}

.btns .btn {
    width: 5rem;
}




